<div style="display: flex; flex-direction: column; padding-bottom: 25rem;">
  <h3 *ngIf="payment">{{nomUser}}, merci d'avoir payer !</h3>
  <h4 *ngIf="selectedPlate" style="margin-top: 10px;">Plat sélectionnée : {{selectedPlate}}</h4>
  <div class="recette-content">
    <app-card-recette *ngFor="let recette of carte" [image]="recette.image"
      (onPictureClick)="pictureClick(recette.title)" [title]="recette.title" [description]="recette.description"></app-card-recette>
  </div>
  <app-payment [userName]="nomUser" (onPayment)="payment = true"></app-payment>

</div>
